.popup{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.popup-inside-div{
    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
     margin-top: 20%;
     padding: 1rem;
}
.close>svg{
    float: right;
    cursor: pointer;
}
.popup-content>p{
    padding-top: 2rem;
    font-size: larger;
}
.popup-content{
    text-align: center;
}